@import "highlight-theme";

// Update the selected theme with rougify
// rougify style [SELECTED_THEME] > _sass/_highlight-theme.scss
// To list the available themes, run: rougify help style

.highlighter-rouge { 
  margin: 7px 0;
  color: #1f2328;
  border-radius: 4px;
  background-color: #f0f0f0;

  > div { padding: 0; }

  pre {
    padding: 15px 20px;
    overflow: auto;
  }
}

code.language-plaintext {
  background-color: #ececec;
  padding: 4px 7px;
}

code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 80%;
}
