@import "highlight-theme";

.highlighter-rouge { 
  margin: 7px 0;
  color: #1f2328;
  border-radius: 4px;
  background-color: #bac1c733;

  > div { padding: 0; }

  pre {
    padding: 15px 20px;
    overflow: auto;
  }
}

code.language-plaintext {
  background-color: #6269731f;
  padding: 4px 7px;
}

code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 80%;
}
