
//
// VARIABLES
//

// Colors
$text-primary-color: #1f2328;
$text-secondary-color: #939aa1;

$ochre: #C99700;
$purple: #ede1ff;

$black: #000;
$white: #fff;

// Grays
$darkGray: #222;
$gray: #666;
$lightGray40: #cfcfd8;
$lightGray: #eee;

// Font stacks
$default-font-family: 
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Noto Sans",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",  /* Emojis*/
  "Segoe UI Emoji", /* Emojis*/
  "Segoe UI Symbol"; /* Emojis*/

$mono-font-family:
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}