
//
// VARIABLES
//

// Colors
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}